{% extends 'base.html' %}
{% block content %}

<div class="loginOutBox">
    <div class="loginInBox">
        <div class="box">
            <div class="container3">
                <form class="timeform" method="POST">
                    {% csrf_token %}
                    <h3 style = "color:#fffffff6; font-size:30px; font-weight:bold;">모듈 이름</h3>
                    <input type="text" id="ModuleNum" name="ModuleNum" value="{{pillList.ModuleNum}}" disabled, placeholder="{{pillList.ModuleNum}}"style="width:400px; height:50px; text-align:center; margin:20px">
                    <h3 style = "color:#fffffff6; font-size:30px; font-weight:bold;">약 이름</h3>
                    <input type="text" id="search_kw" name="PillName" value="{{pillList.PillName}}" disabled, placeholder="{{pillList.PillName}}" style="width:400px; height:50px; text-align:center; margin:20px">
                    <h3 style = "color:#fffffff6; font-size:30px; font-weight:bold;">병 길이</h3>
                    <input type="text" id="search_kw" name="PillLength" value="{{pillList.PillLength}}" disabled, placeholder="{{pillList.PillLength}}" style="width:400px; height:50px; text-align:center; margin:20px">  
                    <br>
                    <select>
                        <option>매일</option>
                    </select>
                    <select onchange="changePillTime()" id="PillTime" name="PillTime">
                        <option id="PillTime1" name="PillTime" value="1" {% if pillList.PillTime == "0" %} selected {% endif %}>1</option>
                        <option id="PillTime2" name="PillTime" value="2" {% if pillList.PillTime == "1" %} selected {% endif %}>2</option>
                        <option id="PillTime3" name="PillTime" value="3" {% if pillList.PillTime == "2" %} selected {% endif %}>3</option>
                    </select>
                    <select name="PillEat">
                        <option id="PillEat1" name="before" value="before" {% if pillList.PillTime == "0" %} selected {% endif %}>before</option>
                        <option id="PillEat2" name="after" value="after" {% if pillList.PillTime == "1" %} selected {% endif %}>after</option>
                    </select>
                    <div id="test">
                        <div id="test2">
                            {% for pill in pillTime %}
                            <input type="time" name="EatTime{{forloop.counter}}" id="EatTime{{forloop.counter}}" value="{{pill.EatTime}}">
                            {% endfor %}
                        </div>
                    </div>
                    <script>
                        function changePillTime() {
                            var selectOption = document.getElementById("PillTime");
                            selectOption = selectOption.options[selectOption.selectedIndex].value;
                            
                            const div = document.getElementById('test2');
                            
                            alert(div);
                            if (div != null) {
                                div.remove();
                            }

                            var test = document.getElementById("test");
                            var test2 = document.createElement('div');
                            test2.setAttribute("id", "test2");
                            test.appendChild(test2);
                            for (var i = 0; i < selectOption; i++) {
                                var para = document.createElement('input');
                                var num = i + 1;
                                var move = 'EatTime'+num;
                                alert(move)
                                para.setAttribute("type", "time");
                                para.setAttribute("name", move);
                                para.setAttribute("id", move);
                                para.setAttribute("value","{{"+move+"}}");
                                
                                test2.appendChild(para);
                            }

                            function deleteTime() {
                                var test = document.getElementById("timeform"); 
                                test.setAttribute("")
                            }
                        }
                    </script>
                    <button type="submit">수정</button>
                    <button onClick="location.href='edit'"type="button" >삭제</button>
                </form> 
            </div>
        </div>
    </div>
</div>


{% endblock %}