{% extends "base.html" %}

{% block content %}
<HEAD>
   <style>
  button{
      width:150px;
      height: 150px;
      color:#fff;
      background: #353535;
      font-size: 40px;
      font-weight: bold;
      position: relative;
      top: 300px
  }
  button:focus {
      outline:0;
  }
  button:hover{
      background: rgba(0,79,255,0.9);
      cursor: pointer;	
  }
   </style> 
   </HEAD>
    <body>
     <button type="botton" onclick="location.href='/pybo/addpill'">+</button>
    </body>
{% if not pilllist %}
<h4> 등록된 약이 없습니다. </h4>
{% else %}
<h1> {{request.session.user}}님의 약 목록</h1>
{% for pill in pilllist.all %}
   <h1> <input type="image" src="/static/pillicon.png" alt="약아이콘"> {{ pill.PillName }}</h1>
{% endfor %}
{% endif %}
{% endblock %}

