{% extends "base.html" %}
{% block content %}
<div class="loginOutBox">
    <div class="loginInBox">
        <div class="searchBox">
            <form id="searchForm" method="POST">
                {% csrf_token %}
                 <input type="text" id="search_kw" name="q" value="{{q}}" placeholder="약 이름" style="width:350px; height:42px; text-align:center;">
                 <button type="submit" class="btnFriend" id="btn_search" name="searchPill">검색</button>
             </form>
        </div>
    </div>
</div>

{% if r_data %}
{% for item in r_data %}
    <p>{{item.PRDLST_NM}}</p>
    <p>{{item.BSSH_NM}}</p>
    <p>{{item.NTK_MTHD}}</p>
    <p>{{item_PRIMARY_FNCLTY}}</p>
    <br>
{% endfor %}
{% else %}
<p>{{res_data.error}}</p>
{% endif %}
{% endblock %}