{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>pillMe</title>
</head>
<body>
    <nav id="nav2">
        <a href="/pybo/"><h2>pillMe</h2></a>
        <ul>
            <li><a href="#" style = "color:#ff7474f6; font-size:30px; font-weight:bold;">약알림</a></li>
            {% if request.session.user %}
            <li><a href="{% url 'logout' %}"> {{ request.session.user }} (로그아웃)</a></li>
            {% else %}
            <li><a href="/pybo/login">로그인</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>
